/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF4E50;
    background-image: linear-gradient(43deg, #FF4E50 0%, #FF4E50 46%, #F9D423 100%);
}

/* Header */
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */

.content {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.productList {
    padding: 12px;
    margin: 5px;
    box-shadow: 0px 1px 5px 0px black;
    border-radius: 20px;
    background-color: white;
}

.productList h2,
.productList p {
    text-align: center;
    margin: 2px;
}

.productList p span {
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    width: 100px;
    height: 20px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(206, 55, 0);
}

/* Footer */
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


